<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-role>
        <role-name>registrado</role-name>
    </security-role>
    <servlet>
        <servlet-name>JerseyWebApp</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <!-- especificamos los paquetes que contienen servicios REST 
         Jersey buscará también en subpaquetes -->
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>es.ua.dccia.quedamos.presentacion</param-value>
        </init-param>
        <!-- para que haga caso a la anotación @RolesAllowed -->
        <init-param>
            <param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyWebApp</servlet-name>
        <url-pattern>/AJAX/*</url-pattern>
    </servlet-mapping>
</web-app>
